contracts/.placeholder
test/.placeholder
build
node_modules
.secret


CarNetworkDapp
CarNetworkDapp.exe
CarNetworkDapp.exe~

.env
.idea/
.vscode/
.DS_Store

node_modules
tmp

static/fonts

static/js/bundle.js
static/main.css



